/* Reddit Mono */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import "tailwindcss";


/* Roma */
@font-face {
	font-family: "ROMA";
	src: url("/fonts/ROMA.otf") format("opentype");
	font-style: normal;
	font-display: swap;
}

/*!*Debug*!*/
/** {*/
/*	outline: 1px solid red;*/
/*}*/

html {
	scroll-behavior: smooth;
}

html, body {
	box-sizing: border-box;
}

@theme {
	--font-roma: "ROMA", serif;
	--font-reddit: "Reddit Mono", monospace;
	--gradient-text: linear-gradient(
			to bottom,
			#FFFFFF 30%,
			#000000 100%
	);

	--text-header-fs: 6rem;
	--text-header-fs-sm: 3rem;

	--color-about-content: #F7F7F0;
}

.header-gradient {
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: var(--gradient-text);
}

.float {
	animation: float 7s infinite linear;
}

@keyframes float {
	0% {
		transform: translateY(0);
	} 
	25% {
		transform: translateY(-20px);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}